.listaCos-container {
  display: flex;
  margin-bottom: $space4;
  flex-direction: column;

  &__info {
    display: flex;
    justify-content: space-between;
    padding: $space1 $space2;
    background-color: $color1;
    font-weight: bold;
    text-transform: capitalize;
  }
}