.link-btn {
  @include btn;
  background-color: $color4;
  color: $color5;

  &:hover {
    background-color: $color10;
    color: $color3;
  }
}

.utility-btn {
  @include btn;
  background-color: $color13;
  color: $color5;

  &:hover {
    background-color: $color7;
    color: $color1;
  }
}

.buy-btn {
  @include btn;
  background-color: $color8;
  color: $color5;

  &:hover {
    background-color: $color3;
    color: $color1;
  }
}