.right--space {
  margin-right: $space4;
}

.bottom--space-1_5 {
  margin-bottom: $space2;
}

.bottom--space-3 {
  margin-bottom: $space4;
}

.bottom--space-0_3 {
  margin-bottom: 0.3rem;
}

.more__link {
  cursor: pointer;
  font-weight: bold;
  color: $color14;
  display: block;
  text-align: center;
}

.link--info {
  color: $color14;
  text-decoration: none;
  transition: all .2s;
  &:hover {
    text-decoration: underline;
  }
}