.right--space {
  margin-right: $space4;
}

.bottom--space-1_5 {
  margin-bottom: $space2;
}

.bottom--space-3 {
  margin-bottom: $space4;
}

.link--info {
  color: $color14;
  text-decoration: none;
  transition: all .2s;
  &:hover {
    text-decoration: underline;
  }
}