$color1: #FFEFDA;
$color2: #FFA630;
$color3: #203752;
$color4: #2D5E63;
$color5: #F9FCFC;
$color6: #1D3D40;
$color7: #122729;

$space1: 1rem;
$space2: 1.5rem;
$space3: 2.5rem;
$space4: 3rem;

$size1: 1.4rem;
$size2: 1.8rem;
$size3: 2.4rem;